<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            {{mensaje}}
            <form method="post" action="/login/inicio">
                <input type="text" name="usuario" class="form-control" placeholder="Usuario">
                <input type="password" name="password" class="form-control mt-3">
                <button type="submit" class="btn btn-primary nt-3 btn-outline btn-block">Login</button>
            </form>

        </div>


    </div>





</div>