<h1>{{title}}</h1>

<form action="/registro" method="post">

<input type="text" name="usuario" placeholder="usuario de la mejor">
<input type="password" name="password" placeholder="*****">

<button type="submit">Registrate</button>
{{mensaje}}
</form>